<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/index.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway" rel="stylesheet">

        <title> UHACK </title>

        <!-- LIBRARIES -->
        

        <!-- FILES -->
    </head>
    <body>
        <div class="container-fluid">
            <div class="row main-page">
                <div class="col left left-container">
                    <div class="row">
                        <div class="col row justify-content-center">
                            <img src="/img/icon.png" height="120px" width="120px" alt="">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col row justify-content-center">
                            
                            <h2>
                                All medical records. In one place.
                            </h2>

                        </div>
                    </div>
                    
                </div>
                <div class="col-md-7 row justify-content-center align-items-center">
                    
                    <div class="right-content col-md-8 flex-row">
                        <div class="col row justify-content-center">  
                            <h1>MedicAll</h1>
                            <!-- <form method="post" enctype="multipart/form-data" action="/upload">
                                <input type="file" name="file">
                                <input type="submit" value="Submit">
                            </form> -->
                        </div>
                        <hr>
                         <div class="row">
                            <div class="col">
                                <form class=" signin h-100" action="login" method = "post">
                                    <div class="form-group">
                                        <label for="login">Username</label>
                                        <input type="text" class="form-control" id="login" placeholder="username" name="username">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password" placeholder="password" name="password">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="form-control btn btn-primary" value="Sign In">
                                        <hr>
                                        <label for="register">Don't have an account?</label>
                                        <a href="/signup"><input type="button" id="register"class="form-control btn btn-primary" value="Register"></a>
                                    </div>
                                </form>
                            </div>
                        </div>
    
                    </div> 
                </div>
            </div>
        </div>
        <script src="lib/jquery-3.3.1.min.js" type="text/javascript"> </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="lib/bootstrap/js/bootstrap.min.js"></script>

    </body>
</html>
