<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/userview.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" type="application/javascript"> </script>
        
        
        <script src="lib/jquery-3.3.1.min.js" type="text/javascript"> </script>
        <script src="js/index.js" type="text/javascript"></script>
        

        <title> {user.name} </title>

        <!-- LIBRARIES -->
        

        <!-- FILES -->
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand mr-auto" href="#">
                <img src="/img/icon.png" width="30" height="30" alt="">
            </a>
            

            <a class="nav-link" href="#" data-toggle="modal" data-target="#pinModal">
                    Pin
            </a>
            <a class="nav-link" href="#">
                Logout
            </a>

            
        </nav>
        <div class="container-fluid">
            
            <div class="row justify-content-center">
                <div class="col-md-8 profile-panel ">
                    
                    <div class="row border border-bottom border-top-0 border-left-0 border-right-0">
                        <div class="col-md-4 row justify-content-center align-items-start">
                            <img class"user-image" src="/img/male.png" width="140" height="140" alt="">
                        </div>
                        <div class="col-md-6 row">
                            <div class="col">
                                <br>
                                <div class="row">

                                    <h2 class="col"><b><span class="user-name">Neilson Gardose</span></b>, <span class="user-age">32</span> </h2>

                                </div>
                                
                                <div class="row">
                                    <p class="col">
                                        <b>Birthday:&nbsp;</b>
                                        <span class="user-birthday">January 1, 1927</span>
                                    </p>
                                </div>
                                <div class="row">
                                    <p class="col">
                                        <b>Sex:&nbsp;</b>
                                        <span class="user-gender">Male</span>
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                        
                        
                    </div>
                    <br>
                    
                    <div class="row col">
                        
                        <div class="col finding-content">
                            <h1>Findings</h1>
                            <hr>
                            <div class="row">
                                <img src="/uploaded/image.png" width="10%" height="10%"/>                                
                                <div class="col">
                                    <div class="row col"><h6 class="finding">Findings Findings</h6></div>
                                    <div class="row col"><p class="date">January 4, 2018</p></div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <img src="/uploaded/image.png" width="10%" height="10%"/>
                                <div class="col">
                                    <div class="row col"><h6 class="finding">Findings Findings</h6></div>
                                    <div class="row col"><p class="date">January 4, 2018</p></div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <img src="/uploaded/image.png" width="10%" height="10%"/>
                                <div class="col">
                                    <div class="row col"><h6 class="finding">Findings Findings</h6></div>
                                    <div class="row col"><p class="date">January 4, 2018</p></div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <img src="/uploaded/image.png" width="10%" height="10%"/>
                                <div class="col">
                                    <div class="row col"><h6 class="finding">Findings Findings</h6></div>
                                    <div class="row col"><p class="date">January 4, 2018</p></div>
                                </div>
                            </div>

                        </div>
                    </div>

                    

                </div>   


                            
            </div>
        </div>
        <div class="modal fade" id="pinModal" tabindex="-1" role="dialog" aria-labelledby="Pin" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                
                <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="pin">Pin Number</label>
                                <input type="email" class="form-control" id="pin" aria-describedby="pinHelp" placeholder="Enter desired pin">
                            </div>
                            <input type="submit" class="btn btn-primary btn-block"></input>
                        </form>
                </div>
                
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="/js/userview.js"></script>
    </body>
</html>
